{% extends "base.html" %}
{% block content %}

{% load crispy_forms_tags %}

<div class="container col-md-6 card p-5 title">
    <h2>Login <i class="fas fa-key"></i></h2>
    <p>To post your addvertisement, comment or like please log in.</p>

  <form method="POST">
      {% csrf_token %}
      {{ form | crispy}}
      <br>
      <button class="btn btn-outline-success button" type="submit">Login</button>
  </form>
      <br>
  <div>
      <p>
        Don't have an account?
      </p>
      <a class="btn btn-outline-success button" href="{% url 'register' %}">Register</a>
  </div>
  {% for message in messages %}
      <div id="msg" class="alert alert-info">{{message}}</div>
  {% endfor %}

</div>

{% endblock content%}