{% extends 'base.html' %}
{% load static %}
{% block content %}

{% load crispy_forms_tags %}

{% for message in messages %}
    <div id="msg" class="alert alert-info">{{ message }}</div>
{% endfor %}

<div class="container col-md-6 rounded p-5 mb-3 shadow">
    <h3>Login <i class="fas fa-sign-in-alt"></i></h3>
    <p>Please log in to post your advertisement, comment, or like.</p>

  <form method="POST">
      {% csrf_token %}
      <!-- Manually created form so that css can be added easily -->
      <input class="form-control register_form" type="text" name="username" autofocus="" placeholder="Username">
      <input class="form-control register_form" type="password" name="password" placeholder="Password">
      <br>
      <button class="btn btn-outline-success button" type="submit">Login</button>
  </form>
      <br>
  <div>
      <p>
        Don't have an account?
      </p>
      <a class="btn btn-outline-success button" href="{% url 'register' %}">Register</a>
  </div>
</div>

{% endblock content%}