{% extends 'base.html' %}
{% load static %}
{% block content %}

{% load crispy_forms_tags %}

{% for message in messages %}
    <div id="msg" class="alert alert-info">{{ message }}</div>
{% endfor %}

<div class="container col-md-6 p-5 mb-3 rounded shadow ">
	<h3>Register<i class="fas fa-handshake"></i></h3>
    <p>Please log in to post your advertisement, comment, or like. </p>
	<form method="POST">
		{% csrf_token %}
		{{ form | crispy }} 
		<br>                   
		<button class="btn btn-outline-success button" type="submit">Register</button>
	</form>
	<br>
	<p>Already have an account?</p> 
	<a class="btn btn-outline-success button" href="{% url 'login' %}">login</a>
</div>

{% endblock content%}