{% extends "base.html" %}
{% block content %}

{% load crispy_forms_tags %}

<div class="container col-md-6 card p-5 title">
	<h2>Register  <i class="fas fa-handshake"></i></h2>
    <p>To post your addvertisement, comment or like please Register.</p>

	<form method="POST">
		{% csrf_token %}
		{{ form | crispy }} 
		<br>                   
		<button class="btn btn-outline-success button" type="submit">Register</button>
	</form>
	<br>
	<p>Already have an account?</p> 
	<a class="btn btn-outline-success button" href="{% url 'login' %}">login</a>

	{% for message in messages %}
    	<div id="msg" class="alert alert-info">{{message}}</div>
	{% endfor %}
</div>

{% endblock content%}