/* navigation */
/* base.html */

body {
    font-family: Maven Pro, sans-serif;
}
h1, h2, h3, h5 {
    font-family: Lato, sans-serif;
    font-weight: bold;
}
.nav {
    padding: 20px;
    margin-bottom: 20px;
    /* background-color: rgb(246, 243, 243); */
}

.nav-link:hover {
    color: black;
}

.brand-name {
    font-size: 2.5em;
    font-family: lato;
}

.active {
    text-decoration: underline;
}


.fa-car,
.fa-handshake,
.fa-key,
.fa-edit,
.fa-car-side {
    color: lightseagreen;
}

.fa-car:hover,
.fa-handshake:hover,
.fa-key:hover,
.fa-edit:hover,
.fa-car-side:hover {
    color: rgb(15, 127, 121);
}

.mycar {
    font-weight: 900;
    font-weight: bolder;
    /* font-family: Maven Pro; */
}

.btn:hover {
    background-color:  lightseagreen;
}

/* Footer */

.twitter {
    background-color: #55acee;
}

.facebook {
    background-color: #3b5998
}

.google {
    background-color: #dd4b39;
}

.linkedin {
    background-color: #0082ca;
}

.github {
    background-color: #333333;
}

.btn-floating:hover {
    background-color: lightseagreen;
}


/* index.html */
.image-hover {
    transition: transform .5s ease-in-out;
}

.image-hover:hover {
    transform: scale(1.03);
}

.current {
    border: 1px solid #198754;
    padding: 7px;
    border-radius: 5px;
    padding-bottom: 11px;
    margin: 5px;
    margin-right: 8px;
    color: white;
    background-color: lightseagreen;
}

/* post_detail.html */

/* .like-comments {
    margin-left: 95px;
} */

.liked-heart {
    color: #dd4b39;
    border: none;
    background-color: transparent;
}

.unliked-heart {
    border: none;
    background-color: transparent;

}

.fa-comments,
.unliked-heart {
    color: lightseagreen;
    border: none;
    background-color: transparent;
}

.overflow-auto {
    max-height: 460px;
    overflow-y: scroll;
}

.text-justify {
    text-align: justify;
    line-height: 2em;
}

/* post_your_add.html */

.title:hover {
    /* color: red; */
    border: 1px solid lightseagreen;
}

