/* navigation */
/* base.html */

body {
    font-family: "Maven Pro", sans-serif;
}

h1,
h2,
h3,
h5 {
    font-family: Lato, sans-serif;
    font-weight: bold;
}

.nav {
    padding: 20px;
    margin-bottom: 20px;
}

.nav-link:hover {
    color: black;
}

.brand-name {
    font-size: 2.5em;
    font-family: lato;
}

.fa-car,
.fa-handshake,
.fa-sign-in-alt,
.fa-edit,
.fa-car-side {
    color: #D9391E;
}

.mycar {
    font-weight: 900;
    font-weight: bolder;
}

.my {
    color: #D9391E;
}

.nav-link {
    color: black;
    position: relative;
    text-decoration: none;
}

.nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #D9391E;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s
}

.nav-link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.active-link-dot:after {
    content: '';
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    left: 40%;
    background-color: #D9391E;
    bottom: -2px;
}

.btn:hover {
    background-color: lightseagreen;
}

.nav-line {
    color: #D9391E;
    font-weight: bolder;
}

/* Footer */

.twitter {
    background-color: #55acee;
}

.facebook {
    background-color: #3b5998
}

.google {
    background-color: #dd4b39;
}

.linkedin {
    background-color: #0082ca;
}

.github {
    background-color: #333333;
}

.btn-floating:hover {
    background-color: lightseagreen;
}


/* index.html */
/* clear out margin by bootstrap in row class */
.row {
    margin-left: auto;
    margin-right: auto;
}

.hero-image {
    position: relative;
    margin-bottom: 30px;
}

.hero-image img {
    height: auto;
}

/* opacity for image not text */
.hero-image:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
}

.hero-text {
    width: inherit;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 3px solid #D9391E;
    border-left: 3px solid #D9391E;
    /* 30% less border on top left */
    border-image: linear-gradient(to top, #D9391E 30%, rgba(0, 0, 0, 0) 70%);
    border-image-slice: 2;
    color: white;
}

/* view car button positioning */
#view-cars {
    position: absolute;
    padding: 12px;
    top: 35%;
    left: 50%;
    background-color: rgba(217, 57, 30, 1);
    border: none;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1rem;
}

#view-cars:hover {
    background-color: rgba(217, 57, 30, .85);
}

.image-hover {
    transition: transform .5s ease-in-out;
}

.image-hover:hover {
    transform: scale(1.03);
}

.main-image {
    max-width: 100%;
    height: 250px;
    width: 400px;
    object-fit: cover;
}

.car-title {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: #D9391E;
}

.liked-heart {
    color: #dd4b39;
    border: none;
    background-color: transparent;
}

.unliked-heart {
    border: none;
    background-color: transparent;
}

.fa-comments,
.unliked-heart {
    color: lightseagreen;
    border: none;
    background-color: transparent;
}

.overflow-auto {
    max-height: 460px;
    overflow-y: scroll;
}

.text-justify {
    text-align: justify;
    line-height: 2em;
}

/* post_your_add.html */

.title:hover {
    /* color: red; */
    border: 1px solid lightseagreen;
}

.register_form {
    border: none;
    line-height: 2.0em;
    border-bottom: .5px solid lightseagreen;
    margin-bottom: 10px;
    margin-top: 10px;
}

.register_form:hover {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(15, 127, 121, 0.6);
    ;
}

.form-control:focus {
    border-color: lightseagreen;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(15, 127, 121, 0.6);
}

/* About page */
.set-height {
    min-height: 500px;
}

.opacity:hover {
    opacity: 85%;
}

hr.red {
    width: 5%;
    margin: auto;
    border: 2px solid #D9391E;
    opacity: 1;
}

.red-left {
    width: 40px;
    margin-left: 20px;
    border: 2px solid #D9391E;
    opacity: 1;
}

/* --------- Media Queries --------- */
@media only screen and (max-width: 991px) {
    .nav-line {
        display: none;
    }

    .active-link-dot:after {
        left: 3%;
    }

    .nav-link::before {
        width: 12%;
    }
}

@media only screen and (min-width: 780px) {
    .image-width {
        width: 80%;

    }
}

.main-card {
    width: 23rem;
}

/* hero image text */
@media only screen and (max-width: 555px) {
    .hero-text {
        width: 51%;
    }

    #view-cars {
        top: 50%;
    }
}

@media only screen and (max-width: 327px) {
    .hero-text {
        display: none;
    }
}