{% extends "base.html" %}
{% block content %}

{% load crispy_forms_tags %}
<!-- <div class="container col-md-8 card p-5 title">
    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        {{ form | crispy }}
        <br>
        <input type="submit" class="btn btn-outline-success button">
    </form>
</div> -->
<div class="container col-md-6 card p-5 title">
    <h2>Profile</h2>
    <!-- {% if user.is_authenticated %} -->
    <h1>{{user.username}}</h1>
   

    last login: {{ user.last_login }}

            
            <p>First Name: {{ profile.first_name}}</p>
            <p>Last Name:{{ profile.last_name}}</p>
            <p>Date of Birth: {{ profile.date_of_birth}}</p>
            <p>Email: {{ profile.email }}</p>
            <p>Phone: {{ profile.phone }}</p>
            <p>Image:<img src=" {{ profile.image.url }}" class="img-fluid rounded image-hover" alt="">
            </p>
            <p>About:</p>
            <p>{{ profile.about_me }}</p>
            <!-- <p>{{ profile.id }}</p> -->

            <br>
            <a class=" btn btn-outline-success button" href="{% url 'edit_profile' user %}">Edit</a>


   <!-- {% endif %} -->

{% endblock %}