{% extends 'base.html' %}

{% block content %}
<div class="container col-md-8  p-3 mb-3">
    <div class="container">
        <h3 class="text-center">About Us</h3>
        <hr class="red">
        <p class="text-justify">
            My Car is fast growing online car selling platform. Our mission is to
            help unlock the potential of both sellers and buyers, so they can reach
            out to each other easily. Uniquely powerfull tool and design is supplied for 
            both parties to make their experience better. Our team is working tirelessly 
            to support both sellers and buyers.
        </p>

    </div>
</div>
<div class="row pb-3 set-height">
    
    <div class="col-sm-4">
        <div class="card mission">
            <img src="https://res.cloudinary.com/shahid129/image/upload/v1664890117/static/images/target.92a04d5057e2.jpg" class="card-img-top opacity" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center ">Mission</h5>
                <hr class="red">
                <p class="card-text show-mission">
                    We are on a mission to make selling old car as easy as possible.
                    Simply create an account and post your add to sell your car. We do the rest for you.
                    We will let you know when the car sells.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card privacy">
            <img src="https://res.cloudinary.com/shahid129/image/upload/v1664890116/static/images/privacy.1add4142f511.jpg" class="card-img-top opacity" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center ">Your Privacy</h5>
                <hr class="red">
                <p class="card-text show-privacy">
                    Maintaining your privacy is on the highest priority. We do not share your details to any third pary.
                    We also do not allow ads on our page. Feel free to email us to get a our Privacy Policy.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card contact">
            <img src="https://res.cloudinary.com/shahid129/image/upload/v1664890118/static/images/contact.ca52d6b5c5a4.jpg" class="card-img-top opacity" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Contact Us</h5>
                <hr class="red">
                <div class="show-contact">
                    <p class="card-text"> <i class="fas fa-phone"></i> +353 123 334 5678</p>
                    <p class="card-text"><i class="far fa-at"></i> shahid.okay@gmail.com</p>
                    <p class="card-text"><i class="fas fa-location-arrow"></i> 123 Motel Avenue, Park Road, Dublin, F12 RR121</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}