{% extends "base.html" %}
{% block content %}

{% load crispy_forms_tags %}


<div class="container col-md-8 card p-5 title">
    <h2> Update <i class="fas fa-edit"></i></h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | crispy }}
        {{ formset | crispy }}
        {% if user.is_authenticated %}
        <br>
        <input type="submit" class="btn btn-outline-success button" value="Update">

            <!-- <input type="submit" value="Delete"> -->
        {% endif %}
    </form>
</div>

{% endblock content %}