{% extends "base.html" %}
{% block content %}

{% load crispy_forms_tags %}

{% for message in messages %}
    <div id="msg" class="alert alert-danger">{{message}}</div>
{% endfor %}

<div class="container col-md-8 card p-5 mb-3">
    <h5 class="text-center">Let's update your car</h5>
    <hr class="red">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{formset.management_form}}
        {{ form | crispy }}
        {{ formset | crispy}}
        {% if user.is_authenticated %}
        <br>
        <input type="submit" class="btn btn-outline-success button" value="Update">

            <!-- <input type="submit" value="Delete"> -->
        {% endif %}
<!-- 
        {% for image in image_form_list %} 
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {{ image }}
                <input type="submit" class="btn btn-outline-success button" value="Update">
            </form>
        {% endfor %}
         -->
    </form>
</div>

{% endblock content %}