{% extends 'base.html' %}
{% block content %}

{% load crispy_forms_tags %}

<div class="container">

    <div class="row g-0">
        <div class="col-md-6 masthead-text">
            <h3 class="post-title">
                {{ post.title | capfirst }}
            </h3>
            <p class=""> {{ post.author | capfirst}} | {{ post.created_on}} </p>
        </div>
        <div>
            <div id="carouselExampleIndicators" class="carousel slide carousel-fade carousel-dark image-width p-3 mx-auto d-block" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <!-- Loop through the images from Images class Model -->
                <div class="carousel-inner">
                    {{ formset.management_form }}
                    {% for image in images  %}
                    <div class="carousel-item ">
                        <img src="{{ image.images.url }}" class="d-block img-fluid rounded w-100" alt="Image of a car">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- <img src="{{ post.image.url }}" class="img-fluid" alt="Image of a car"> -->

        </div>
        <!-- like / unlike button -->
        <div class="row like-comments">
            <div class="col-2">
                <strong>
                    {% if user.is_authenticated %}
                    <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                        <button type="submit" name="blogpost_id" value="{{post.slug}}" class="liked-heart"><i
                                class="fas fa-heart "></i></button>
                        {% else %}
                        <button type="submit" name="blogpost_id" value="{{post.slug}}" class="unliked-heart"><i
                                class="far fa-heart "></i></button>
                        {% endif %}
                    </form>
                    {% else %}
                    <span class="text-secondary"><i class="far fa-heart"></i></span>
                    {% endif %}
                    <!-- The number of likes  -->
                    <span class="text-secondary">{{ post.number_of_likes }} </span>
                </strong>
            </div>
            <div class="col-2">
                {% with comments.count as total_comments %}
                <strong class="text-secondary"><i class="far fa-comments"></i>
                    {{ total_comments }}</strong>
                {% endwith %}
            </div>
        </div>
        <hr>

        <div class="container mt-3">
            <h5>Key Info</h5>
            <hr class="red-left">
            <p>Year: {{post.year}}</p>
            <p>Road Tax: {{post.tax}}</p>
            <p>NCT Expiry: {{post.nct}}</p>
            <br>
            <h5>Detailed Info</h5>
            <hr class="red-left">
            <p class="text-justify">{{ post.description }}</p>

        </div>
    </div>

    <!-- Comment Section -->
    <div class="row ">
        <div class="col-md-7 card mb-4 me-5  mt-3">
            <h5 class="container mt-3">Comments</h5>
            <div class="card-body overflow-auto">
                {% for comment in comments %}
                <div class="overflow-auto">
                    <p class="font-weight-bold">
                        {{ comment.name | capfirst }} commented
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> 
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h5>Leave a comment:</h5>
                <p>Posting as: {{ user.username }}</p>

                <!-- comment Form -->
                <form method="POST">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <br>
                    <button type="submit" class="btn btn-outline-success button">Submit</button>
                </form>
                {% else %}
                <p>To add your comments please </p><a href="{% url 'login' %}"><button type="submit" class="btn btn-outline-success button">Login</button> </a>
                <!-- <button type="submit" class="btn btn-outline-success button"><a href="{% url 'login' %}"> </a> Login</button> -->

                
                {% endif %}
                {% endif %}
            </div>
        </div>

    </div>
</div>
{% endblock content %}