{% extends "base.html" %}
{% block content %}

<div class="contaner-fluid">
    {% if searched %}
    <h2>You searched for {{searched}}</h2>
    <br>
    <p>We found {{ postads.count }} cars in our records.</p>
    <div class="row">
        {% for postad in postads %}
        <div class="card m-3 " style="width: 13rem;">
            <!-- Image URl -->
            <a class="list-group-item list-group-item-action rounded " href="{% url 'post_detail' postad.slug %}"> <h5>{{ postad | title }}</h5>
                <img src=" {{ postad.image.url }}" class="img-fluid rounded image-hover" alt="">
            </a>
        </div>

        {% if forloop.counter|divisibleby:5%}
            </div>
            <br>
            <div class="row">
        {% endif %}

        {% endfor %}
    </div>
    {% else %}
        <h1>Please type something to start your search...</h1>
    {% endif %}
</div>

{% endblock content %}